<h1 class="page-header text-center"> Edit Data </h1>

<form id="add_contact" action="/contact_list" method="post">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input id="last_name" type="text" name="first_name">

    <label for="last_name">Last Name:</label>
    <input id="last_name" type="text" name="last_name">
  </div>
  <!-- <button name="add_contact" type="submit" class="btn btn-success">Save</button> -->
<!-- </form> -->

<!-- <form id="add_phone" action="/contact_add" method="post"> -->
  <div class="form-group">
    <label for="mobile_number">Mobile Number:</label>
    <input id="mobile_number" type="text" name="mobile_number" value="000.000.0000">

    <label for="home_number">Home Number:</label>
    <input id="home_number" type="text" name="home_number">
  </div>
  <button name="save_all" type="submit" class="btn btn-success">Save</button>
</form>
