<h1 class="page-header text-center">Find your contact!</h1>

<form id="form_id" action="/contact_details" method="get">
  <div clase="form-group">
    <label for="id">Enter contact ID</label>
    <input id="id" type="text" name="id">

  </div>
  <button name="contact_details" type="submit" class="btn btn-success">Find</button>

</form>
